.button {
  padding: 20px;
  color: white;
  background-color: #ffa400;
  border: 0;
  margin: 50px auto;
  display: block;
  width: 300px;
  font-family: "Poppins", sans-serif;
}

.change {
  display: block;
  padding: 15px 40px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 50px auto;
  background-color: #3d6ef7;
}

.menu {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  list-style: none;
  transform: translateX(0%);
  transition: transform 0.25s linear;
}
