.calculator {
  width: 400px;
  height: auto;
  border: 1px solid black;
  margin: 2rem auto;
}

.calculator-header {
  margin-top: 1rem;
  padding-left: 1rem;
}

.calculator-nav {
  padding-left: 1rem;
  margin-top: 1rem;
}

.calculator-nav span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.caculator-result {
  border: 1px solid black;
  margin-top: 1rem;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.caculator-result span {
  display: block;
  margin-right: 1rem;
}

.calculator-special-function ul {
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  gap: 5px;
  margin-bottom: 5px;
}

.calculator-special-function li {
  height: 2rem;
  width: calc((100% / 5));
  /* padding: ; */
}

.calculator-special-function li:first-child {
  margin-left: 5px;
}
.calculator-special-function li:last-child {
  margin-right: 5px;
}

.btn-special-fun {
  height: 100%;
  width: 100%;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.calculator-button {
  height: 2rem;
}
